POSTGRES_URL="postgresql://usuario:password@host/dbname?sslmode=require"
NEXTAUTH_SECRET="genera-uno-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_GOOGLE_ENABLED="true"
ADMIN_EMAIL="tu@email.com"
